@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --off-white: #f2f2f2;
  --black: rgba(0, 0, 16, .8);
  --light-brown: #ab5c1c;
  --green: #7c8b19;
  --orange: #dc8c52;
  --disabled: rgba(0, 0, 16, .3);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
  font-family: "Roboto+Mono";
  color: var(--black);
  box-sizing: border-box;
  letter-spacing: 1px;
}

header {
  padding: 2rem 3rem;
  background-image: url("https://images.unsplash.com/photo-1574713600544-ca13b5d573d5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=958&q=80");
  color: var(--off-white);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.95;
  background-position: 50% 25%;
}

.container {
  padding: 1rem 2rem;
}

/* filters */
.card {
  display: flex;
  background-color: white;
  box-shadow: var(--shadow);
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.filter-card {
  padding: .8rem;
}

.filter-container {
  padding: .4rem .8rem;
}

.filter-text p {
  color: var(--black);
  font-size: 1.3rem;
  padding: .3rem;
}

.filter {
  background-color: var(--black);
  padding: .4rem .4rem .1rem .4rem;
  border: 3px solid var(--light-brown);
  border-radius: 2.2rem;
}

.filter-form {
  display: flex;
  align-items: center;
}

.filter-all+span {
  font-size: 2rem;
  padding: .5rem 1rem;
  color: var(--off-white);
}

svg {
  fill: var(--off-white);
  height: 2rem;
  width: 2rem;
  margin: .5rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input+span,
input+svg {
  cursor: pointer;
  transition: all .3s ease;
}

.filter-all:hover,
.filter-all:checked+span,
.filter-all:focus+span {
  color: var(--light-brown);
}

.beer:hover,
.beer:checked+svg,
.beer:focus+svg {
  fill: var(--orange);
}

.hops:hover,
.hops:checked+svg,
.hops:focus+svg {
  fill: var(--green);
}

/* pagination buttons */
/* pagination buttons */
.page-btn {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  padding: 0 .8rem;
  color: var(--off-white);
  cursor: pointer;
  transition: color .3s ease;
}

.page-btn:hover {
  color: var(--light-brown);
}

.page-btn:disabled {
  cursor: default;
  color: var(--disabled);
}